/* здесь используйте глобальные переменные */

// Брейкпоинты
$desktop-max: 1440px;
$desktop-min: 1024px;


$tablet-min: 768px;
$tablet-max: 1023px;

$mobile-min: 320px;
$mobile-max: 767px;

	// Основные цвета
	$basic-blue: #161c35;
	$basic-blue: #edeff6;
	$basic-blue-dark: #1d2e5b;
	$basic-blue-medium: #a8d2f4;
	$basic-blue-darkest: #121936;

	// Специальные цвета
	$special-blue-light: #7ebaeb;
	$special-blue-dark: #192144;
	$special-grey: #444;
	$special-red: #f47e7e;
	$special-white: #fff;