/* здесь используйте глобальные переменные */

// Брейкпоинты
$desktop-max: 1440px;
$desktop-min: 1024px;


$tablet-min: 768px;
$tablet-max: 1023px;

$mobile-min: 320px;
$mobile-max: 767px;

	// Основные цвета
	$basic-blue: #161c35;
	$basic-grey: #edeff6;
	$basic-grey-light: #e2e5f2;
	$basic-blue-dark: #1d2e5b;
	$basic-blue-medium: #a8d2f4;
	$basic-blue-darkest: #121936;
	$basic-black: #000;

	// Специальные цвета
	$special-blue-light: #7ebaeb;
	$special-blue-dark: #192144;
	$special-grey: #444;
	$special-red: #f47e7e;
	$special-white: #fff;
	$special-background-dark: #4d99d6;
	$special-background-light: #cce5fa;
	$special-background-about: #272b3b;
	$special-background-fellow-travelers: #3f4251;
	$special-blue-darkest: #1d2e5b;
	$special-blue-transport-checked: #101d41;

	$instructions-shadow: -6px 0 18px rgba(0, 0, 0, 0.3);