.companions-filter {
  padding: 58px 0 48px;
  background-color: transparent;

  @media(max-width: 1023px) {
    padding: 99px 12px 59px 32px;
    background-color: #E2E5F2;
    transform: translateY(-45px);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  @media(max-width: 767px) {
    padding: 65px 0 17px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
}

.companions-filter__top {
  display: flex;
  align-items: center;
  gap: 5px;

  @media(max-width: 767px) {
    align-items: center;
    gap: 0;
  }
}

.companion__filter__show-icon {
  @media(max-width: 1023px) {
    width: 33px;
    height: 6px;
  }

  @media(max-width: 767px) {
    width: 17px;
    height: 3px;
  }
}

.companion__filter__toggle-icon {
  @media(max-width: 767px) {
    width: 15px;
    height: 10px;
    margin-top: 4px;
  }
}

.companions-filter__tabs {
  &--body {
    display: none;

    @media(max-width: 767px) {
      display: block;
    }
  }

  &--top {
    display: block;

    @media(max-width: 767px) {
      display: none;
    }
  }
}

.companions-filter__tabs-list {
  display: flex;
  list-style-type: none;
  gap: 23px;

  @media(max-width: 1023px) {
    gap: 19px;
  }
}

.companions-filter__toggle {
  display: flex;
  gap: 22px;
  align-items: center;
  border: none;
  background-color: transparent;
  color: #192144;
  font-size: 20px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;

  @media(max-width: 1023px) {
    display: none;
  }

  @media(max-width: 767px) {
    display: flex;
    gap: 11px;
    font-size: 15px;
    line-height: 18px;
    align-items: flex-start;
  }
}

.companions-filter__tab-button {
  border: none;
  background-color: transparent;
  color: #192144;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  opacity: 0.3;
  cursor: pointer;
}

.companions-filter__tab-button.is-active {
  opacity: 1;
}


.companions-filter__countries {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 20px;

  @media (max-width: 1023px) {
    display: block;
  }
}

.companions-filter__letter {
  margin-bottom: 25px;
  color: #192144;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;

  @media(max-width: 1023px) {
    display: none;
  }
}

.companions-filter__list {
  display: flex;
  flex-direction: column;
}

.companions-filter__link {
  color:  #444;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  cursor: pointer;
}

.companions-filter__collapse {
  display: flex;
  gap: 17px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  border: none;
  padding: 37px 0;
  background: #D6DAED;
  color: #192144;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  font-family: inherit;
  margin-top: 50px;
  cursor: pointer;
}

.companion__filter__collapse-icon {
  color: #192144;
}

.companions-filter__letters-nav {
  display: none;

  @media(max-width: 1023px) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 35px;
  }
}

.companions-filter__region {
  display: none;
}

.companions-filter__region.is-active {
  display: block;

  @media(max-width: 1023px) {
    display: grid;
    grid-template-columns: 345px 156px;
    gap: 100px;
  }
}

.companions-filter__body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

.companions-filter.is-expanded .companions-filter__body {
  padding: 74px 0 102px;
  max-height: 2000px;
  opacity: 1;

  @media(max-width: 1023px) {
    padding: 62px 0 27px;
  }
}

.companions-filter__collapse {
  display: none;
}

.companions-filter__show {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #192144;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  margin-left: 50px;
  background-color: transparent;
  cursor: pointer;

  @media(max-width: 1023px) {
    margin-left: 34px;
  }

  @media(max-width: 767px) {
    margin-left: 7px;
  }
}

.companions-filter.is-expanded .companions-filter__collapse {
  display: flex;
}

.companions-filter.is-expanded .companions-filter__show {
  display: none;

  @media(max-width: 1023px) {
    display: flex;
    align-items: center;
  }
}

.companion__filter__show-icon.is-close {
  width: 22px;
  height: 24px;
  margin-left: 40px;

  @media(max-width: 767px) {
    margin-left: 0;
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }

  @media(max-width: 767px) {
    transform: translateY(-7px);
  }
}

.companions-filter__group {
  @media(max-width: 1023px) {
    display: none;
  }
}

.companions-filter__group.is-active {
  @media(max-width: 1023px) {
    display: block;
  }
}

.companions-filter__letters-button {
  @media(max-width: 1023px) {
    font-family: inherit;
    background-color: transparent;
    border: none;
    color: #192144;
    opacity: 0.3;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
  }
}

.companions-filter__letters-button.is-active{
  @media(max-width: 1023px) {
    opacity: 1;
  }
}

.companions-filter__show-text {
  @media(max-width: 767px) {
    display: none;
  }
}

.companions-filter__toggle > span {
  @media(max-width: 767px) {
    text-align: start;
  }
}