$webp-support: 'data:image/webp;base64,UklGRiQAAABXRUJQVlA4IBgAAAAwAQCdASoBAAEAAwA0JaQAA3AA/vuUAAA=';

.hero {
    position: relative;
    background-image: url("../../images/hero-background@1x.png");
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
    background-position: 0 -145px;
    width: 100%;
    min-height: 601px;
    margin-top: -1px;
    margin-bottom: -70px;
    border-radius: 0 0 $border-radius-desktop $border-radius-desktop;
    z-index: 10;


    @media (min-resolution: 2dppx) {
        background-image: url("../../images/hero-background@2x.png");
    }

    @supports (background-image: url($webp-support)) {
        background-image: url("../../images/hero-background@1x.webp");

        @media (min-resolution: 2dppx) {
            background-image: url("../../images/hero-background@2x.webp");
        }
    }

    @media (max-width: $tablet-max) {
        background-position: -328px -122px;
        height: 776px;
        border-radius: 0;
    }

    @media (max-width: $mobile-max) {
        background-image: url("../../images/hero-background-mobile@1x.png");
        background-position: 0px -88px;
        max-height: 577px;
        min-height: 577px;
        z-index: 100;
        border-radius: 0;

        @media (min-resolution: 2dppx) {
            background-image: url("../../images/hero-background-mobile@2x.png");
        }

        @supports (background-image: url($webp-support)) {
            background-image: url("../../images/hero-background-mobile@1x.webp");

            @media (min-resolution: 2dppx) {
                background-image: url("../../images/hero-background-mobile@2x.webp");
            }
        }
    }
}

.hero__wrapper {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: -8%;
       right: 16.5%;
        width: 431px;
        height: 640px;
        background-image: url("../../images/traveller-illustration-desktop@1x.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right bottom;
        pointer-events: none;

        @media (min-resolution: 2dppx) {
            background-image: url("../../images/traveller-illustration-desktop@2x.png");
        }

        @supports (background-image: url($webp-support)) {
            background-image: url("../../images/traveller-illustration-desktop@1x.webp");

            @media (min-resolution: 2dppx) {
                background-image: url("../../images/traveller-illustration-desktop@2x.webp");
            }
        }

        @media (max-width: 1145px) {
            right: -1.5%;
        }
    }

    @media (max-width: $tablet-max) {
        &::after {
            background-image: url("../../images/traveller-illustration-tablet@1x.png");
            width: 437px;
            height: 530px;
            top: 17%;
            right: 1%;

            @media (min-resolution: 2dppx) {
                background-image: url("../../images/traveller-illustration-tablet@2x.png");
            }

            @supports (background-image: url($webp-support)) {
                background-image: url("../../images/traveller-illustration-tablet@1x.webp");

                @media (min-resolution: 2dppx) {
                    background-image: url("../../images/traveller-illustration-tablet@2x.webp");
                }
            }
        }
    }

    @media (max-width: $mobile-max) {
        &::after {
            background-image: url("../../images/traveller-illustration-mobile@1x.png");
            width: 192px;
            height: 255px;
            top: 209px;
            right: 17px;

            @media (min-resolution: 2dppx) {
                background-image: url("../../images/traveller-illustration-mobile@2x.png");
            }

            @supports (background-image: url($webp-support)) {
                background-image: url("../../images/traveller-illustration-mobile@1x.webp");

                @media (min-resolution: 2dppx) {
                    background-image: url("../../images/traveller-illustration-mobile@2x.webp");
                }
            }
        }
    }
}

.hero__title {
    font-size: 70px;
    line-height: 70px;
    padding: 46px 11px 45px;
    margin-bottom: 77px;

    @media (max-width: $tablet-max) {
        font-size: 60px;
        line-height: 70px; 
        padding: 26px 14px;
        margin-bottom: 430px;
    }

    @media (max-width: $mobile-max) {
        font-size: 36px;
        line-height: 40px;
        padding: 51px 0 0;
        margin-bottom: 289px;
    }
}