.profile__wrapper {
    margin-bottom: 64px;
}

.profile__title {
    font-size: 95px;
    line-height: 45px;
    font-weight: 700;
    font-variant: all-small-caps;
    color: $special-blue-dark;
    text-align: start;
    margin-bottom: 105px;
    padding-left: 6.5%;
}

.profile__container {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 52%) minmax(0, 1fr);
    gap: 48px;
}

.profile__info {
    display: flex;
    flex-direction: column;
    gap: 31px;
    position: relative;
    z-index: 1; /* линии должны быть ниже карточки цены */
    flex: 1;
    min-width: 0;
    padding-left: 15px;
    margin-top: 62px;
}

.profile__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    flex: 1;
    overflow: visible;

    .profile__item {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 97px;
            right: -453px;
            height: 1px;
            background-color: #e1e3e9;
        }
    }

    .profile__item:last-child {
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 97px;
            right: -453px;
            height: 1px;
            background-color: #e1e3e9;
        }
    }

    .profile__item:nth-child(1) .profile__number {
        background-color: $special-background-dark;
    }

    .profile__item:nth-child(2) .profile__number {
        background-color: $special-blue-light;
    }

    .profile__item:nth-child(3) .profile__number {
        background-color: $basic-blue-medium;
    }
}

.profile__view {
    display: flex;
    gap: 25px;
    flex-direction: row;
    align-items: center;
}

.profile__link.profile__view {
    gap: 20px;
}

.profile__number {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: $special-white;
    width: 73px;
    height: 72px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $basic-grey-light;
}

.profile__text {
    font-size: 28px;
    line-height: 28px;
    color: $special-grey;
    transform: translateY(5px);
}

.profile__link-icon {
    background-image: url("../../icons/button-profile-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 29px 28px;
}

.profile__link-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: $special-blue-darkest;
}

.profile__price-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    color: $special-white;
    background-color: $special-background-fellow-travelers;
    padding: 62px 47px 65px 84px;
    border-radius: 20px;
    position: relative;
    z-index: 3;
    justify-content: space-between;
}

.profile__price-text {
    text-align: center;
    margin: 22px 0;
}

.profile__price-title {
    font-weight: 700;
    font-size: 41px;
    line-height: 28px;
    font-variant: all-small-caps;
    margin-bottom: 26px;
}

.profile__price-list {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px; 
    display: flex;
    flex-direction: column;
    gap: 13px;
}