include mixins/about.pug
include mixins/description.pug
include mixins/button.pug

section.about
    div.section__container
        .about__wrapper
            +blockAbout(
                'О сервисе',
                'Любое путешествие веселее с попутчиками, которые на одной волне с тобой! Делитесь своими идеями путешествий и черпайте вдохновение в чужих.',
                'about__title',
                'about__text',
                'about__container-text'
            )
            +blockDescription('А если найдете кого-то близкого по <span class="about__description-break">духу - скорее зовите в совместный трип!</span>', 'about__description')
            +buttonLink('#', 'Подробнее', 'about__button-container')


            