include mixins/svg

div.contacts.contacts--mobile.contacts--desktop
  .contacts__item
    a.contacts__link.link-reset(href='tel:', aria-label='Позвонить')
      +icon(contactsPhoneIcon || 'phone-icon', 'contacts__icon contacts__icon--phone', 18, 18)
    span.contacts__text 8 800 555-86-28
  .contacts__item
    a.contacts__link.link-reset(href='mailto:', aria-label='Написать на почту')
      +icon('email-icon', 'contacts__icon contacts__icon--email', 16, 14)
    span.contacts__text mail@htmlacademy.ru
