include mixins/svg

div.submit-contacts
  .submit-contacts__column.submit-contacts__column--phone
    .submit-contacts__item.submit-contacts__item--phone
      a.submit-contacts__link.link-reset(href='tel:+78005558628' aria-label='Позвонить')
        +icon('phone-mobile-icon', 'submit-contacts__icon submit-contacts__icon--phone-mobile', 36, 34)
      a.submit-contacts__text.submit-contacts__text--phone.link-reset(href='tel:+78005558628') 8 800 555-86-28
  .submit-contacts__column.submit-contacts__column--email
    .submit-contacts__item.submit-contacts__item--email
      a.submit-contacts__link.link-reset(href='mailto:mail@htmlacademy.ru' aria-label='Написать на почту')
        +icon('email-icon-submit', 'submit-contacts__icon submit-contacts__icon--email', 36, 25)
      a.submit-contacts__text.submit-contacts__text--email.link-reset(href='mailto:mail@htmlacademy.ru') mail@htmlacademy.ru

