include mixins/svg

div.contacts.contacts--mobile.contacts--desktop.contacts--submit
  .contacts__item
    a.contacts__link.link-reset(href='tel:+78005558628' aria-label='Позвонить')
      +icon('phone-icon', 'contacts__icon contacts__icon--phone contacts__icon--phone-desktop', 18, 18)
      +icon('phone-mobile-icon', 'contacts__icon contacts__icon--phone contacts__icon--phone-mobile', 18, 18)
    span.contacts__text 8 800 555-86-28
  .contacts__item
    button.contacts__link.button-reset(type='button' aria-label='Написать на почту')
      +icon('email-icon', 'contacts__icon contacts__icon--email', 16, 14)
    span.contacts__text mail@htmlacademy.ru
