include mixins/svg

header.header
  div.section__container
    div.header__wrapper
      div.header__brand
        +icon('logo-mobile', 'header__logo header__logo--mobile', 96, 15)
        +icon('logo-desktop', 'header__logo header__logo--desktop', 200, 50)
      -
        let contactsPhoneIcon = 'phone-icon'
      include nav
      -
        contactsPhoneIcon = 'phone-icon'
      include contacts
