header.header
  div.section__container
    div.header__wrapper
      div.header__brand
        +icon('logo-mobile', 'header__logo header__logo--mobile', 96, 15)
        +icon('logo-desktop', 'header__logo header__logo--desktop', 200, 50)
      include nav
      div.header__contacts
        a.header__contacts-link.link-reset(href='tel:', aria-label='Позвонить')
          +icon('phone-icon', 'header__contacts-icon header__contacts-icon--phone', 18, 18)
        a.header__contacts-link.link-reset(href='mailto:', aria-label='Написать на почту')
          +icon('email-icon', 'header__contacts-icon header__contacts-icon--email', 16, 14)
