extends base.pug
include mixins/svg
include header.pug
include footer.pug

block title
  | Погнали?

block content
  +header()
  main
    include hero
    include about__service
    include direction
    include fellow-travelers
    include profile
    include submit
    include map
  +footer()