section.map
    div.section__container
        .map__wrapper 
            .map__adress-container
                span.map__adress-icon 
                p.map__adress-text ул. Большая Конюшенная, 19/8
                button.map__adress-button

            .map__address-map
                #map-yandex.map__yandex(role="presentation" aria-label="Как нас найти: ул. Большая Конюшенная, 19/8")