include address.pug

section.map
    div.section__container
        .map__wrapper 
            .map__address-map
                #map-yandex.map__yandex(role="presentation" aria-label="Как нас найти: ул. Большая Конюшенная, 19/8")