include mixins/svg


-
  let navArray = [
    { text: 'О сервисе', href: '#' },
    { text: 'Направления', href: '#' },
    { text: 'Попутчики', href: 'catalog.html' }
  ];

nav.nav
  .section__container
    .nav__wrapper
      +icon('menu-button-open', 'nav__menu-button nav__menu-button--open-icon', 25, 11)
      .nav__open-header
        +icon('logo-mobile', 'nav__open-logo', 96, 15)
        +icon('menu-button-close', 'nav__menu-button nav__menu-button--close-icon', 19, 20)
      ul.nav__list.list-reset
        each item in navArray
          li.nav__item
            a.nav__link.link-reset(href=item.href)= item.text
      .nav__contacts
        -
          contactsPhoneIcon = 'phone-mobile-icon'
        include contacts      
        include social
