-
  var companionsFilter = {
    title: 'Подберите идеального попутчика',
    groups: [
      {
        title: 'Хобби',
        name: 'hobby',
        options: [
          { label: 'Спортзал', value: 'fitness' },
          { label: 'Кальян', value: 'beach' },
          { label: 'Диван', value: 'yoga' },
        ]
      },
      {
        title: 'Музыка',
        name: 'music',
        options: [
          { label: 'Тяжелый рок', value: 'rock' },
          { label: 'Русский рэп', value: 'pop' },
          { label: 'Евроденс', value: 'hiphop' },
        ]
      },
      {
        title: 'Еда',
        name: 'food',
        options: [
          { label: 'Мясоед', value: 'pp' },
          { label: 'Сидит на ПП', value: 'seafood' },
          { label: 'Веган-сыроед', value: 'burgers' },
        ]
      }
    ],
    transport: {
      title: 'Транспорт',
      options: [
        { label: 'Самолёт', value: 'plane', icon: 'icon_plane' },
        { label: 'Автобус', value: 'bus', icon: 'icon_bus' },
        { label: 'Велосипед', value: 'bike', icon: 'icon_bicycle' },
        { label: 'Пешком', value: 'walk', icon: 'icon_run' }
      ]
    },
    level: {
      title: 'Левел',
      min: 0,
      max: 100,
      from: 30,
      to: 80
    },
    buttonText: 'Показать'
  }