-
  var cards = [
    {
      name: 'Таня Фирсова',
      card: 'first',
      image: 'images/firsova-desktop@1x.png',
      tags: ['#зож', '#пп', '#фитнес', '#пляж', '#авокадо', '#смузи'],
      countries: [
        { name: 'Шри-Ланка', flag: 'images/srilanka.svg' },
        { name: 'Таиланд', flag: 'images/thailand.svg' },
        { name: 'Сейшелы', flag: 'images/seyselles.svg' }
      ],
      transport: [
        { label: 'icon_plane', active: true },
        { label: 'icon_bus', active: false },
        { label: 'icon_bicycle', active: false },
        { label: 'icon_run', active: false}
      ],
      level: 99
    },
    {
      name: 'Петя Демин',
      image: 'images/demin-desktop@1x.png',
      tags: ['#бургер', '#бар', '#футбол', '#концерт', '#крафт'],
      countries: [
        { name: 'Бельгия', flag: 'images/begium.svg' },
        { name: 'Чехия', flag: 'images/czech.svg' }
      ],
      buttonText: 'Позвать!',
      likes: 1500,
      transport: [
        { label: 'icon_plane', active: true },
        { label: 'icon_bus', active: true },
        { label: 'icon_bicycle', active: false },
        { label: 'icon_run', active: true}
      ],
      level: 80
    },
    {
      name: 'Марк Смолов',
      image: 'images/smolov-desktop@1x.png',
      tags: ['#фронт', '#тату', '#байкер', '#кроссовки', '#стрипы'],
      countries: [
        { name: 'США', flag: 'images/usa.svg' },
        { name: 'Австралия', flag: 'images/australia.svg' },
        { name: 'Доминика', flag: 'images/dominicana.svg' }
      ],
      buttonText: 'Позвать!',
      likes: 170,
      transport: [
        { label: 'icon_plane', active: true },
        { label: 'icon_bus', active: false },
        { label: 'icon_bicycle', active: true },
        { label: 'icon_run', active: false}
      ],
      level: 25
    },
    {
      name: 'Лариса Роговая',
      active: true,
      image: 'images/rogova-desktop@1x.png',
      tags: ['#образование', '#карьера', '#учеба', '#линкедин'],
      countries: [
        { name: 'Великобритания', flag: 'images/uk.svg' },
        { name: 'Германия', flag: 'images/germany.svg' }
      ],
      buttonText: 'Позвать!',
      likes: 23,
      transport: [
        { label: 'icon_plane', active: true },
        { label: 'icon_bus', active: true },
        { label: 'icon_bicycle', active: false },
        { label: 'icon_run', active: false}
      ],
      level: 50
    }
  ]