-
  var cards = [
    {
      name: 'Таня Фирсова',
      image: 'img/content/user-1.jpg',
      tags: ['#зож', '#пп', '#фитнес', '#пляж', '#авокадо', '#смузи'],
      countries: [
        { name: 'Шри-Ланка', flag: 'img/flags/sri-lanka.svg' },
        { name: 'Таиланд', flag: 'img/flags/thailand.svg' },
        { name: 'Сейшелы', flag: 'img/flags/seychelles.svg' }
      ],
      transport: [
        { label: 'plane', active: true },
        { label: 'bus', active: true },
        { label: 'bike', active: false }
      ],
      level: 99
    },
    {
      name: 'Петя Демин',
      image: 'img/content/user-2.jpg',
      tags: ['#бургер', '#бар', '#футбол', '#концерт', '#крафт'],
      countries: [
        { name: 'Бельгия', flag: 'img/flags/belgium.svg' },
        { name: 'Чехия', flag: 'img/flags/czech.svg' }
      ],
      buttonText: 'Позвать!',
      likes: 1500,
      transport: [
        { label: 'plane', active: true },
        { label: 'bus', active: false },
        { label: 'bike', active: false }
      ],
      level: 80
    },
    {
      name: 'Марк Смолов',
      image: 'img/content/user-3.jpg',
      tags: ['#фронт', '#тату', '#байкер', '#кроссовки', '#стрипы'],
      countries: [
        { name: 'США', flag: 'img/flags/usa.svg' },
        { name: 'Австралия', flag: 'img/flags/australia.svg' },
        { name: 'Доминика', flag: 'img/flags/dominica.svg' }
      ],
      buttonText: 'Позвать!',
      likes: 170,
      transport: [
        { label: 'plane', active: true },
        { label: 'bus', active: true },
        { label: 'bike', active: true }
      ],
      level: 25
    },
    {
      name: 'Лариса Роговая',
      image: 'img/content/user-4.jpg',
      tags: ['#образование', '#карьера', '#учеба', '#linkedin'],
      countries: [
        { name: 'Великобритания', flag: 'img/flags/uk.svg' },
        { name: 'Германия', flag: 'img/flags/germany.svg' }
      ],
      buttonText: 'Позвать!',
      likes: 23,
      transport: [
        { label: 'plane', active: true },
        { label: 'bus', active: false },
        { label: 'bike', active: false }
      ],
      level: 50
    }
  ]